/* Fuentes */
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');

@font-face {
    font-family: immortal;
    src: url(./IMMORTAL.ttf);
}

@font-face {
    font-family: alamak;
    src: url(./resources/Alamak.ttf);
}

@font-face {
    font-family: endor;
    src: url(./resources/ENDOR___.ttf);
}

@font-face {
    font-family: endoralt;
    src: url(./resources/ENDORALT.ttf);
}

html {
    scroll-padding-top: 46px;
    background-image: url(./img/imagen1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}




body {
    max-width: 1000px;
    margin: auto;
}

/* Header */

header {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    background-color: #333;
    z-index: 1;
}

nav ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;

}

nav li {
    float: left;
    border-right: 1px solid #bbb;

}

nav li:first-child {
    border-right: none;
}

nav li:last-child {
    float: right;
    border-right: none;
    border-left: 1px solid #bbb;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover:not(.icon) {
    background-color: #111;
}

.icon {
    background-color: #04aa6d;
}


/* Home */


#home {
    /* margin-top: 46px; */
    color: aliceblue;
    min-height: calc(100vh);

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

h1 {
    margin-top: 1em;
    font-family: endor;
    font-size: 8em;
    color: #04aa6d;
    -webkit-text-stroke: 1px #e0723c
}

#home h2 {
    font-family: 'Caveat';
    color: rgb(230, 220, 220);
    font-size: 6em;
    margin-bottom: 1em;
    -webkit-text-stroke: 2px black;  
}

/* about */

#about{
    background-color: blueviolet;
    

    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
    border-radius: 24px;
}

#about-text{
    border-right: 1px solid black;
    width: calc(30% - 1px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#about-text p{
    padding: 0 30px;
} 

#about-images{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }

 #about-images img{
    max-height: 80%;
    max-width: 80%;
    border-radius: 12px ;
}

/* sistemas de juego */
 
#sistemas {
    background-color: #04aa6d;
    padding: 20px;
    text-align: center;
    margin-bottom: 40px;
    border-radius: 24px;
}

#sistemas-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}

#sistemas-container > div {
    flex-basis: 200px;
    width: 200px;
    height: 355px;
    border: 1px solid black;
    text-align: center;
    margin: 10px;
    background-color: #e0723c;
    border-radius: 0px 0px 12px 12px;
    
}

#sistemas-container div img {
    background-color: #333;
    max-width: 100%;
    padding-bottom: 5px;
}

#sistemas-container div p {
    margin: 3px;
}


/* tipos de partidas */

#partida {
    background-color: blueviolet;
    padding: 20px;
    text-align: center;
    margin-bottom: 40px;
    border-radius: 24px;
}

#partida-container {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

#partida-container > div {
    display: flex;
    flex-basis: 200px;
    background-color: #04aa6d;
    border: 1px solid black;
    text-align: center;
    margin: 10px;
}
#partida-tipo2 {
    display: flex;
    flex-direction: row-reverse;
    flex-basis: 200px;
    border: 1px solid black;
    text-align: center;
    margin: 10px;
}
#partida-container > div > img {
    max-height: 255px;
    
}

.imagen-izq{
    border-right: 1px solid black;
}

.imagen-der{
    border-left: 1px solid black;
}

#partida-container div div{
    margin: 50px;
}
/* Footer */



footer{
    text-align: center;
   }

footer a button {
    background-color: #e0723c; 
    border: none;
    padding: 20px;
    margin: 20px 2px;
    cursor: pointer;
    border-radius: 8px;
    color: white;
    
    }

    footer a button:hover {
        background-color: #9c512c
    }
    
        #redes-sociales{
    width: 50%;
    margin: auto;
}
#redes-sociales{
    display: flex;
    list-style-type: none;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    margin-bottom:  40px;
    margin-top: 20px;
}

.redes{
    color: black;
    background-color: #04aa6d;
    padding: 6px;
    border-radius: 8px;
}
.redes i{
    font-size: 300%;
}

/* contacto */


input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #04aa6d;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .formulario {
    margin-top: 50px; 
    border-radius: 24px;
    background-color: blueviolet;
    padding: 20px;
  }
  .formulario h3{
    text-align: center;
    font-size: xx-large;
  }