/* Fuentes */
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');

@font-face {
    font-family: immortal;
    src: url(./IMMORTAL.ttf);
}

@font-face {
    font-family: alamak;
    src: url(./resources/Alamak.ttf);
}

@font-face {
    font-family: endor;
    src: url(./resources/ENDOR___.ttf);
}

@font-face {
    font-family: endoralt;
    src: url(./resources/ENDORALT.ttf);
}

html {
    scroll-padding-top: 46px;
    background-color: #abc38e;
}




body {
    margin: 0px;
}

/* Header */

header {
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: #333;
    z-index: 1;
}

nav ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;

}

nav li {
    float: left;
    border-right: 1px solid #bbb;

}

nav li:first-child {
    border-right: none;
}

nav li:last-child {
    float: right;
    border-right: none;
    border-left: 1px solid #bbb;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover:not(.icon) {
    background-color: #111;
}

.icon {
    background-color: #04aa6d;
}


/* Home */


#home {
    /* margin-top: 46px; */
    color: aliceblue;
    min-height: calc(100vh);
    background-image: url(./img/imagen1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: column wrap;
}

h1 {
    margin-top: 1em;
    font-family: endor;
    font-size: 8em;
    color: #04aa6d;
    -webkit-text-stroke: 1px #e0723c
}

#home h2 {
    font-family: 'Caveat';
    color: rgb(230, 220, 220);
    font-size: 6em;
    margin-bottom: 1em;
    -webkit-text-stroke: 2px black;  
}

/* about */

#about{
    display: grid;
    grid-template-columns: auto auto;
}